body {
  background: #dedede;
}
div#content, div#footer {
  margin: 0;
  padding: 1em 2em;
  background: #dedede;
}
.box {
  border: 1px solid #aaa;
  background: white;
  padding: 5px;
  height: 100%;
}
.boxes {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.boxes > tbody > tr {
  background-color: inherit;
}
.boxes > tbody > tr > td {
  padding: 2px;
}
.boxes > tbody > tr > td:not(.wide) {
  width: 50%;
  height: 180px;
}
.boxes h2, .boxes h1 {
  margin-top: 0;
}
.versions tr:nth-child(even) {
  background: #eee;
}
.versions tr:nth-child(odd) {
  background: white;
}
